<%- include ("partials/head") %>
<%- include ("partials/navbar") %>
   <main>
       <table>
           <thead class="table-head">
               <tr>
                   <th>id</th>               
                   <th>título</th>               
                   <th>slug</th>               
                   <th>ações</th>
               </tr>
           </thead>
           <tbody  class="table-body">
                <% categories.forEach(category=>{ %>
                    <% if(category.id % 2 == 0){%>
                        <tr class="tr-dark">
                            <td><%= category.id %></td>                
                            <td><%= category.title %></td>               
                            <td><%= category.slug %></td>               
                            <td></td>
                        </tr>   
                    <%} else{ %> 
                        <tr class="tr-light">
                            <td><%= category.id %></td>                
                            <td><%= category.title %></td>               
                            <td><%= category.slug %></td>               
                            <td></td>
                        </tr> 
                    <% } %>
                <% }) %>
        </tbody>         
       </table>
   </main>
<%- include ("partials/footer") %>